*{
    box-sizing: border-box;
}
/* header */
header{
    box-sizing: border-box;
    background: #181818 !important;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    z-index: 9999;
    /* display: inline; */
    box-sizing: border-box;
}
header nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
nav .container{
    width: 100%;
    max-width: 1230px;
    overflow: hidden;
    /* display: inline; */
}
nav .container .logo a img{
    float: left;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
    max-width: 111px; 
}
nav .container .menu{
    float: right;
    margin: 9px 0 0;
    padding: 0;
    width: auto
}

nav .container .menu .links ul{
    list-style: none;
    margin: 0px 0 0;
    padding: 0;
    float: left
}
nav .container .menu .links .navbarnav .navItem {
    list-style: none;
    margin: 0;
    padding: 0 15px;
    float: left;
}

nav .container .menu .links .navbarnav .navItem .navLink{
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0 0px;
    color: #FFF;
    font-size: 15px;
    font-weight: normal;
    line-height: 23px;
    box-sizing: border-box;
    font-family: 'cuyabra', sans-serif;                                     
    text-transform: uppercase;
    text-decoration: none;
}

nav .container .menu .links .navbarnav .publish{
    border: 1px solid #eecf23;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    margin-top: -1px;
    margin-left: 15px;
}
nav .container .menu .links .navbarnav .publish .navLink:hover{
    color: #eecf23;
    cursor: pointer;
}

nav .container .menu .links .navbarnav .navItem .active ,
nav .container .menu .links .navbarnav .navItem .page:hover{
    color: #eecf23;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    transition: color .2s ease-out;
    text-decoration: none;
    outline: none;
    border-bottom: 2px solid #eecf23;
    cursor: pointer;
}

nav .container .icon {
    cursor: pointer;
}

nav .container .icon span{
    background-color: #eecf23;
    margin-bottom: 4px;
    margin-right: 25px;
    height: 3px;
    display: none; /* Add this line to ensure the spans behave as block elements */
}

.show-mobile-menu{
    visibility: visible;
    height: auto;
    line-height: normal;
    font-size: 15px;
    width: auto;
    margin-top: 0px;
    float: right;
}

nav .container .mobile-menu{
    visibility: hidden;
    height: 0px;
    overflow: hidden;
    line-height: 0;
    font-size: 0px;
    width: 0px;
    padding: 0px;
    margin: 0;
}

nav .container .show-mobile-menu .sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px;
}

nav .container .show-mobile-menu .sidenav .closebtn{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 36px;
    margin-left: 0;
    color: #f7775e;
    font-weight: 500;
    font-family: 'Montserrat',sans-serif;
    cursor: pointer;
}

nav .container .show-mobile-menu .sidenav ul{
    float: left;
    margin: 0;
    padding: 0 0 0 15%;
    list-style-type: none;
    width: 100%;
}

nav .container .show-mobile-menu .sidenav ul li{
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
}

nav .container .show-mobile-menu .sidenav ul li a{
    position: relative;
    display: block;
    padding: 5px 0;
    margin: 0;
    font-size: 15px;
    line-height: 35px;
    color: #565050;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Montserrat',sans-serif;
    letter-spacing: .23em;
    text-decoration: none;
    outline: none;
}
nav .container .show-mobile-menu .sidenav ul li .active{
    color: #f7775e;
}

@media (max-width: 768px) {
    nav .container .icon span{
        display: block;
        width: 24px;
    }
    nav .container .menu{
        display: none;
    }
}
/* end header */

/* start home section game section */


/* end home section game section */