/* start header */
.main_menu ul{
    display: flex;
    flex-direction: row-reverse;
    
}
.lang-button{
    position: absolute;
    top: 48px;
    left: 34px;
}

.lang-button a{
    font-family: 'Poppins',sans-serif;
    
}

.sidenav ul li a{
    letter-spacing: normal;
    text-transform: none;
}
.logo{
    float: right;
    text-align: right;
}

.main_menu{
    float: left;
}

.mobile_menu {
    float: left;
}

.mobile_menu span{
    float: left;
}

.mobile_menu .logo{
    float: right;
    text-align: right;
}

/* end header */
/* start fonts */
.main_menu ul li a ,
.home_section_publish h3 ,
.home_section_publish h3 span,
.home_section_publish p ,
.services_publish h4 ,
.home_our_journey p ,
.home_our_journey .trending_mobile_games span ,
.home_our_journey .trending_mobile_games ,
.home_our_journey h1,
.journey_plus h5 ,
.journey_plus p ,
.learn_morearea a.learn_more ,
.home_best_clan h1 ,
.home_best_clan p ,
.home_best_clan a.learn_more ,
.footer .widget_title ,
.footer p ,
.footer p a ,
.copy_right ,
.footer ul.menu li a ,
.about_section_inner h1 ,
.about_section_inner p  ,
.about_section_inner p ,
.dreams p  ,
.our_vision_details h3 ,
.our_vision_details h4 ,
.our_vision_details p ,
.our_vision_details p span ,
.whats_deives h1 ,
.whats_deives p ,
.whatsdeives_1 .whatsdeives_info h3 ,
.whatsdeives_1 .whatsdeives_info h6 ,
.whatsdeives_1 .whatsdeives_info p ,
.whatsdeives_3 .whatsdeives_info h3 ,
.whatsdeives_3 .whatsdeives_info h6 ,
.whatsdeives_3 .whatsdeives_info p ,
.about_section_4 p ,
.about_section_5 h1 ,
.about_section_5 h1 a.start ,
.about_section_6 h1 ,
.about_section_6 p ,
.about_section_7 p ,
.solutions_section_1 h1 ,
.solutions_section_1 p ,
.solutions_section_1 a.learn_more ,
.solutions_section_2 h1 ,
.solutions_section_2 p ,
.tabbar_top a ,
.develop h3,
.designdevelopment h3,
.supports h3 ,
.develop ul li,
.designdevelopment ul li,
.supports ul li ,
.solutions_section_3 h1 ,
.solutions_section_3 h1 a.start ,
.solutions_section_4 h1 ,
.solutions_section_4 p ,
.solutions_section_4 h3 ,
.solutions_section_4 ul li ,
.solutions_section_5 h1 ,
.solutions_section_5 p ,
.inception_details .inception_detailsinner .nombers ,
.inception_details .inception_detailsinner h3 ,
.inception_details .inception_detailsinner p ,
.inception_detailsright .inception_detailsinner .nombers ,
.inception_detailsright .inception_detailsinner h3 ,
.inception_detailsright .inception_detailsinner p ,
.solutions_section_6 h1 ,
.solutions_section_6 p ,
.solutions_section_6 a ,
.solutions_section_7 h1 ,
.solutions_section_7 p ,
.publishing_section_1 h1 ,
.publishing_section_1 p ,
.publishing_section_1 a.learn_more ,
.publishing_section_2 h1 ,
.publishing_section_2 p ,
.publishing_section_3 h1 ,
.publishing_section_3 p ,
.games_services_details h3 ,
.games_services_details p ,
.games_services_detailsr h3 ,
.games_services_detailsr p ,
.publishing_section_4 h1 ,
.side_space2 h3 ,
.side_space2 p ,
.looking_serving h3 ,
.looking_serving p ,
.publishing_section_5 h1 ,
.publishing_section_5 a.more_games ,
.contact_section_1 p ,
.contact_section_1 h1 ,
.contact_section_2_left h3 ,
.contact_section_2_left h5 ,
.contact_section_2_left p ,
.contact_form_partners h4 ,
.contact_form_partners input.wpcf7-text,.contact_form_partners input.wpcf7-email,.contact_form_partners select.wpcf7-select,
.contact_form_partners textarea.wpcf7-textarea ,
.contact_form_partners input.wpcf7-submit ,
.contact_form_partners input.wpcf7-file ,
.contact_form_partners .file label ,
.contact_form_partners p ,
.whygames_section_inner p ,
.content_details h4 ,
.content_details h2 ,
.content_details p ,
.text_area h2 ,
.text_area p ,
.text_2ndarea h4 ,
.text_2ndarea h2 ,
.text_2ndarea p ,
.services_delivering h5 ,
.services_delivering p ,
.text_3rdarea h4 ,
.text_3rdarea h2 ,
.text_3rdarea p ,
.text_4tharea h4 ,
.text_4tharea h2 ,
.text_4tharea p ,
.home_section_joinus a.apply_now ,
.home_section_inside_gamedistrict p ,
.jobs_breadcrumb ul li ,
.jobs_breadcrumb ul li a ,
.jobs_arae h3 ,
.jobs_arae  .location ,
.jobs_arae p ,
.jobs_arae p a ,
.jobs_arae a.applybtn ,
.jobs_left_area h3 ,
.jobs_left_area  p ,
.see_more_jobs a ,
.see_more_jobs span ,
.jobs_details_area h3 ,
.jobs_details_area  p ,
.jobs_details_area  ul li ,
.jobs_details_area a.applybtn ,
 h3.application_title ,
 .application_form h3 ,
 .application_form p ,
 .application_form input.wpcf7-text ,
 .application_form select.wpcf7-select ,
 .application_form select.wpcf7-select option ,
 .application_form input.wpcf7-file ,
 .application_form .file label ,
 .application_form textarea.wpcf7-textarea ,
 .job_experiences input.wpcf7-text ,
 .application_form input.wpcf7-submit
{
    font-family: 'Baloo Bhaijaan 2', sans-serif;
}

/* end fonts */

/* solutions start */


.solutions_section_1 h1 ,
.solutions_section_1 p{
    text-align: right;
}
/* end solutions */
/* start publishing */
.publishing_section_1 h1 ,
.publishing_section_1 p ,
.publishing_section_1 a ,
.publishing_section_2 h1 ,
.publishing_section_2 p
{
     text-align:right;
}



/* end publishing */